#resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#resume img {
  width: 30%;
  margin: 10px;
}
#resume a {
  text-decoration: none;
  color: var(--tertiary);
  background-color: var(--secondary);
  font-size: large;
}
#resume-info {
  display: flex;
  justify-content: center;
  background-color: var(--secondary);
  border-radius: 15px;
}
#resume li {
  color: var(--tertiary);
  border-bottom: dotted 1px;
  width: 100%;
}
#resume h2 {
  color: var(--secondary-border);
  background-color: var(--secondary);
}
#skills {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (max-width: 750px) {
  #resume-img {
    width: 100%;
    height: auto;
  }
  #resume-info {
    flex-direction: column;
  }
}
