#about {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* justify-content: center; */
}
#info {
  border-top: 2px solid var(--secondary-border);
  display: flex;
  background-color: var(--secondary);
  margin: 5px;
}
#about img {
  float: left;

  margin-right: 50px;
  margin-left: 50px;
  border-radius: 50%;
  width: 300px;
  height: auto;
}

#about-me {
  float: right;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-top: 15px;
  margin-right: 20px;
  padding: 5px;
  width: 60%;
  background-color: var(--primary);
  color: aliceblue;
  border-radius: 15px;
}

@media screen and (max-width: 1650px) {
  #about img {
    margin-top: 25px;
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 1200px) {
  #about {
    justify-content: center;
  }

  #about img {
    margin-bottom: 50px;
    float: none;
  }

  #about-me {
    float: none;
    margin: 20px 10% 10% 20px;
    width: auto;
  }
}
@media screen and (max-width: 750px) {
  #info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #about-me {
    margin: 10px;
  }
}
