#about img {
  float: left;

  margin-right: 50px;
  margin-left: 50px;
  border-radius: 50%;
  width: 500px;
  height: auto;
}

#about-me {
  float: right;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-right: 50px;
  width: 60%;
}

@media screen and (max-width: 1650px) {
  #about img {
    margin-top: 25px;
    width: 300px;
    height: auto;
  }
}

@media screen and (max-width: 1200px) {
  #about {
    text-align: center;
    justify-content: center;
  }

  #about img {
    margin-bottom: 50px;
    float: none;
  }

  #about-me {
    float: none;
    margin: 20px 10% 10% 20px;
    width: auto;
  }
}
