#contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: aliceblue;
}
#contact-subtitle {
  margin-top: 5px;
}

#contacts img {
  width: 100px;
}
.contact {
  display: flex;

  justify-content: center;
}
.info {
  text-align: center;
}
.info ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.info ul li {
  padding: 10px 10px;
  margin: 20px;
  color: var(--secondary-color);
  border-bottom: 1.5px solid var(--tertiary);
  background-color: var(--secondary);

  width: 100%;
}
.info ul li a {
  color: var(--tertiary);
}
.icons {
  margin-top: 7%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
.icons img {
  width: 100px;
  height: 100px;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#information {
  display: flex;
  justify-content: space-evenly;
}
#information input {
  width: 100%;
  border-radius: 15px;
  border: 5px solid var(--tertiary);
}
#information textarea {
  width: 100%;
  border-radius: 15px;
  border: 5px solid var(--tertiary);
}
#submit-btn {
  background-color: var(--secondary);
  border-radius: 15px;
}

#submit-btn:hover {
  opacity: 0.8;
  background-color: var(--tertiary);
  color: var(--secondary);
}

@media screen and (max-width: 750px) {
  #information {
    flex-direction: column;
  }
}
