#footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--primary);
  align-items: center;
}
#footer h2 {
  font-size: medium;
  color: var(--tertiary);
}

#links {
  display: flex;
}
#links img {
  width: 20px;
}
