header {
  background-color: var(--secondary);
}
header a {
  text-decoration: none;
  color: rgb(48, 22, 62);
}
.navActive {
  color: rgb(48, 22, 62);
  background-color: var(--tertiary);
  border-radius: 15%;
}

li {
  list-style: none;
}
nav span {
  border-radius: 15%;
}
nav span:hover {
  background-color: var(--tertiary);
}

nav li {
  cursor: pointer;
}
